.home-wrapper{
    background-image: url(../AuthComponents/Assets/home-bg.avif);
    padding: 1%;
}

.category-selector {
    display: inline-flex;;
    flex-direction: row;
    justify-content: flex-end;
    width: auto;
    background: rgb(206, 238, 206);
    border-radius: 5px;
    padding: 12px;
    margin-bottom: 5px;
}

.category-selector label {
    margin-right: 10px;
}

.category-selector select {
    width: 200px;
}

