@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  /* margin: 0; */
  font-family: "Quicksand";
  
  /* color: #333; */
}

/* body{
  background : #121211
} */

.navbar {
  padding: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #c10e0e;
  background: #ebd3d3;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.navbar h1 {
  color: #f1356d;
  margin-left: 1%;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}

.navbar button{
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.content {
  max-width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  /* margin: 2% auto; */
  padding: 20px;
}

/* blog previews / list */

.blog-list {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  background: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 5px;
}

.blog-preview {
  padding: 10px 16px;
  margin: 10px; 
  border-radius: 10px;
  height: auto; 
  width: 200px; 
  
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  flex: 0 0 auto; 
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.blog-preview a{
  text-decoration: none;
}

.blog-details{
  background-image: url('./AuthComponents/Assets/bg-blog.avif');
  padding: 20px;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.blog-article{
  background: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}